.navbarWrapper{
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    a{
        padding-left: 20px;
        text-decoration: none;
    }
    button{
        font-size: 30px;
        font-family: serif;
        font-weight: 800;
        border: none;
        background: transparent;
    }
    button:hover{
        cursor: pointer;
        background: rgb(243, 241, 241);
        color: rgb(87, 88, 88);
        border-radius: 5px;
    }
}